
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Did Coding</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
 
</head>
<body>
 
{% if not request.user.is_authenticated %}
<ul>
  <li><a href="{% url 'users:home' %}">Sign Up</a></li>
  <li><a href="{% url 'users:sign-in' %}">Sign In</a></li>
</ul>
{% else %}
<ul>
  <li><a href="javascript:void(0)">Account</a></li>
  <li style="float:right"><a href="{% url 'users:sign-out' %}">Sign Out</a></li>
</ul>
{% endif %}
<div class="container">
  {% block content %}
  {% endblock %}
</div>
 
</body>
</html>
