
* {box-sizing: border-box}
 
 
.container {
  padding: 16px;
}
 
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
 
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
 
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
.register btn {
  background-color: #9c07b6;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
 
.register btn:hover {
  opacity:1;
}
 
a {
  color: #9c07b6;
}
 
.sign in {
  background-color: #f1f1f1;
  text-align: center;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #730786;
}
 
li {
  float: left;
}
 
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
li a:hover {
  background-color: #3d0048;
}
 
 